@page "/"

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode"/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <MudIconButton @bind-Toggle="@_isDarkMode" @onclick="DarkModeToggle"
                         Icon="@Icons.Material.Filled.DarkMode" Color="Color.Default"
                         ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="Color.Warning"/>

    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>
    <p>Welcome to your new app.</p>


@code
{
    private bool _isDarkMode = true;

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }
}
