@page "/PokeView"
@using SharedModels
@inject Services.PokemonApiService PokemonApiService

<h3>Pokémons Obtenidos del Servidor</h3>

@if (pokemons == null || pokemons.Count == 0)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid Spacing="3">
        @foreach (var pokemon in pokemons)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudPaper Class="pa-3 text-center" Elevation="4">
                    <img src="@pokemon.Sprites.FrontDefault" alt="@pokemon.Name" style="width: 150px; height: 150px;" />
                    <h4>@pokemon.Name</h4>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
}

@code {
    private List<Pokemon> pokemons = new List<Pokemon>();

    protected override async Task OnInitializedAsync()
    {
        // Llama al servicio para obtener la lista de pokemons
        pokemons = await PokemonApiService.GetPokemonsAsync();
    }
}